<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Jangan rewrite file/folder yang sudah ada
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Semua request diarahkan ke index.html (SPA fallback)
  RewriteRule ^ index.html [L]
</IfModule>
